* {
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;
    background-color:burlywood;
    justify-content: center;
    align-items: center;
}


section.bg-brown {
    background-color: brown;

}
section.bg-yellow {
    background-color: yellow;}

section.bg-red {
    background-color: red;

}
section.bg-blue {
    background-color: blue;
}

section.bg-green {background-color: green;
}